@import 'tailwindcss';

/* @import 'highlight.js/styles/github.css' layer(gray); */
/* @import 'highlight.js/styles/github-dark.css' layer(dark) (prefers-color-scheme: dark); */
@import 'highlight.js/styles/github-dark.css';

@import './markdown.css';
@import './codeblock.css';
@import './corners.css';

@custom-variant dark (&:where(.dark, .dark *));

/* Zain Black */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-Black.woff2') format('woff2'),
		url('/fonts/Zain/Zain-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Zain ExtraBold */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-ExtraBold.woff2') format('woff2'),
		url('/fonts/Zain/Zain-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Zain Bold */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-Bold.woff2') format('woff2'),
		url('/fonts/Zain/Zain-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Zain Regular */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-Regular.woff2') format('woff2'),
		url('/fonts/Zain/Zain-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Zain Light */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-Light.woff2') format('woff2'),
		url('/fonts/Zain/Zain-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Zain ExtraLight */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-ExtraLight.woff2') format('woff2'),
		url('/fonts/Zain/Zain-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/* Zain Italic */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-Italic.woff2') format('woff2'),
		url('/fonts/Zain/Zain-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Zain Light Italic */
@font-face {
	font-family: 'Zain';
	src:
		url('/fonts/Zain/Zain-LightItalic.woff2') format('woff2'),
		url('/fonts/Zain/Zain-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Fira Code';
	src:
		url('/fonts/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
		url('/fonts/FiraCode/woff/FiraCode-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'TheNeueBlack';
	src:
		url('/fonts/TheNeueBlack/WOFF2/TheNeue-Black.woff2') format('woff2'),
		url('/fonts/TheNeueBlack/WOFF/TheNeue-Black.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-primary-50: #f1fbf5;
	--color-primary-100: #d9f4db;
	--color-primary-200: #b7e9ba;
	--color-primary-300: #8bdc8f;
	--color-primary-400: #63cd6f;
	--color-primary-500: #44b85a;
	--color-primary-600: #399c4a;
	--color-primary-700: #2e7e3a;
	--color-primary-800: #235f2a;
	--color-primary-900: #183f1a;
	--color-primary-950: #0d260f;

	--color-gray-50: oklch(100% 0 255);
	--color-gray-100: oklch(96.09% 0.013 255);
	--color-gray-200: oklch(88.15% 0.035 255);
	--color-gray-300: oklch(79.94% 0.05 255);
	--color-gray-400: oklch(71.52% 0.065 255);
	--color-gray-500: oklch(62.87% 0.08 255);
	--color-gray-600: oklch(53.5% 0.07 255);
	--color-gray-700: oklch(43.71% 0.058 255);
	--color-gray-800: oklch(33.35% 0.045 255);
	--color-gray-900: oklch(21.94% 0.018 255);
	--color-gray-950: oklch(18.37% 0.013 255);

	--font-family-arabic:
		Zain, 'NotoKufiArabic', 'IBM Plex Sans Arabic', 'Dubai', 'Noto Sans Arabic', 'Segoe UI', Tahoma,
		'Traditional Arabic', 'Arabic Typesetting', sans-serif;

	--font-mono: 'Fira Code', 'Source Code Pro', 'Consolas', 'Menlo', monospace;
	--font-hacker: 'TheNeueBlack', Menlo, Monaco, Consolas, 'Lucida Console', monospace;

	--animate-shake: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}
		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}
		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}
		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}
}

@layer utilities {
	.bg-page {
		@apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
	}

	.bg-section {
		@apply bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-50;
	}
}

body {
	/* color: var(--color-gray-900); */
	/* background-color: var(--color-gray-50); */
	/**/
	/* @media (prefers-color-scheme: dark) { */
	color: var(--color-gray-50);
	background-color: var(--color-gray-950);
	/* } */
}

html {
	font-family: var(--font-family-arabic);

	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html[dir='rtl'] {
	.placeholder-rtl::-moz-placeholder {
		text-align: right;
	}
	.placeholder-rtl:-ms-input-placeholder {
		text-align: right;
	}
	.placeholder-rtl::-webkit-input-placeholder {
		text-align: right;
	}
	.placeholder-rtl::placeholder {
		text-align: right;
	}
}
